## Importing libraries and converting converting CSV files to tables

In [1]:
import numpy as np
import duckdb
import os

In [2]:
folder = 'bike_store_sample_database'

# loop through all csv files in the folder
for file in os.listdir(folder):
    if file.endswith('.csv'):
        table_name = os.path.splitext(file)[0]  # strip ".csv" to use as table name
        file_path = os.path.join(folder, file)
        query = f"CREATE TABLE {table_name} AS SELECT * FROM read_csv_auto('{file_path}')"
        duckdb.sql(query)

In [3]:
duckdb.sql("SHOW TABLES")

┌─────────────┐
│    name     │
│   varchar   │
├─────────────┤
│ brands      │
│ categories  │
│ customers   │
│ order_items │
│ orders      │
│ products    │
│ staffs      │
│ stocks      │
│ stores      │
└─────────────┘

![Alt text](database_diagram.png "Database Diagram")

## Customer Analysis

### How much of the customers are retained (i.e. new vs. repeat customers)?

In [4]:
query3 = '''
WITH get_customer_status AS (
SELECT c.customer_id, 
	first_name, 
    last_name,
	CASE WHEN COUNT(DISTINCT o.order_id) > 1 THEN 'Repeat'
	ELSE 'New'
    END AS customer_status
FROM customers c
JOIN orders o
	ON o.customer_id = c.customer_id
GROUP BY c.customer_id, first_name, last_name
)
SELECT customer_status, 
	COUNT(customer_status) AS amount
FROM get_customer_status
GROUP BY customer_status
;
'''

duckdb.sql(query3)

┌─────────────────┬────────┐
│ customer_status │ amount │
│     varchar     │ int64  │
├─────────────────┼────────┤
│ Repeat          │    131 │
│ New             │   1314 │
└─────────────────┴────────┘

### For each store, how many customers are new vs. repeat, and what percentage are repeat customers?

In [5]:
query4 = '''
WITH get_store_customer_status AS (
SELECT c.customer_id, 
	s.store_name,
	CASE WHEN COUNT(DISTINCT o.order_id) > 1 THEN 'Repeat'
	ELSE 'New'
    END AS customer_status
FROM customers c
JOIN orders o
	ON o.customer_id = c.customer_id
JOIN stores s
	ON o.store_id = s.store_id
GROUP BY c.customer_id, s.store_name
)
SELECT store_name, 
	COUNT(CASE WHEN customer_status = 'Repeat' THEN 1 END) AS repeat_customers,
	COUNT(CASE WHEN customer_status = 'New' THEN 1 END) AS new_customers,
	COUNT(*) AS total_customers,
	ROUND(100.0 * COUNT(CASE WHEN customer_status = 'Repeat' THEN 1 END) / COUNT(*) , 2) AS percent_repeat_customers
FROM get_store_customer_status
GROUP BY store_name
ORDER BY 4 DESC
;
'''

duckdb.sql(query4)

┌──────────────────┬──────────────────┬───────────────┬─────────────────┬──────────────────────────┐
│    store_name    │ repeat_customers │ new_customers │ total_customers │ percent_repeat_customers │
│     varchar      │      int64       │     int64     │      int64      │          double          │
├──────────────────┼──────────────────┼───────────────┼─────────────────┼──────────────────────────┤
│ Baldwin Bikes    │               60 │           959 │            1019 │                     5.89 │
│ Santa Cruz Bikes │               52 │           232 │             284 │                    18.31 │
│ Rowlett Bikes    │               19 │           123 │             142 │                    13.38 │
└──────────────────┴──────────────────┴───────────────┴─────────────────┴──────────────────────────┘

### Which customers made the most orders?

In [6]:
query = '''
WITH get_total_orders AS (
SELECT o.customer_id, 
	first_name, 
    last_name,
	COUNT(o.order_id) AS total_order
FROM orders o
JOIN customers c
	ON c.customer_id = o.customer_id
GROUP BY o.customer_id, first_name, last_name
)
SELECT customer_id, first_name, last_name, MAX(total_order) AS highest_total_order
FROM get_total_orders
WHERE total_order = (SELECT MAX(total_order) FROM get_total_orders)
GROUP BY customer_id, first_name, last_name
;
'''
duckdb.sql(query)

┌─────────────┬────────────┬───────────┬─────────────────────┐
│ customer_id │ first_name │ last_name │ highest_total_order │
│    int64    │  varchar   │  varchar  │        int64        │
├─────────────┼────────────┼───────────┼─────────────────────┤
│           3 │ Tameka     │ Fisher    │                   3 │
│          64 │ Bobbie     │ Foster    │                   3 │
│           6 │ Lyndsey    │ Bean      │                   3 │
│          19 │ Lizzette   │ Stein     │                   3 │
│          30 │ Jamaal     │ Albert    │                   3 │
│          33 │ Deloris    │ Burke     │                   3 │
│          53 │ Saturnina  │ Garner    │                   3 │
│           4 │ Daryl      │ Spence    │                   3 │
│           8 │ Jacquline  │ Duncan    │                   3 │
│          16 │ Emmitt     │ Sanchez   │                   3 │
│           · │   ·        │   ·       │                   · │
│           · │   ·        │   ·       │                   · │
│           · │   ·        │   ·       │                   · │
│          12 │ Robby      │ Sykes     │                   3 │
│          24 │ Corene     │ Wall      │                   3 │
│          77 │ Keri       │ Bridges   │                   3 │
│           7 │ Latasha    │ Hays      │                   3 │
│          31 │ Williemae  │ Holloway  │                   3 │
│          47 │ Bridgette  │ Guerra    │                   3 │
│          56 │ Lolita     │ Mosley    │                   3 │
│         116 │ Merlene    │ Vinson    │                   3 │
│           9 │ Genoveva   │ Baldwin   │                   3 │
│          20 │ Aleta      │ Shepard   │                   3 │
├─────────────┴────────────┴───────────┴─────────────────────┤
│ 39 rows (20 shown)                               4 columns │
└────────────────────────────────────────────────────────────┘

### Which customers spent the most?

In [7]:
query = '''
WITH get_total_customer_cost AS (
SELECT o.customer_id, 
	product_id, 
	quantity * (list_price * (1 - discount)) AS cost,
    first_name, 
    last_name
FROM order_items oi
JOIN orders o
	ON oi.order_id = o.order_id
JOIN customers c
	ON o.customer_id = c.customer_id 
)
SELECT customer_id, first_name, last_name, ROUND(SUM(cost), 2) AS total_cost
FROM get_total_customer_cost
GROUP BY customer_id, first_name, last_name
ORDER BY SUM(cost) DESC LIMIT 10
;
'''

duckdb.sql(query)

┌─────────────┬────────────┬───────────┬────────────┐
│ customer_id │ first_name │ last_name │ total_cost │
│    int64    │  varchar   │  varchar  │   double   │
├─────────────┼────────────┼───────────┼────────────┤
│          94 │ Sharyn     │ Hopkins   │   34807.94 │
│          10 │ Pamelia    │ Newman    │   33634.26 │
│          75 │ Abby       │ Gamble    │   32803.01 │
│           6 │ Lyndsey    │ Bean      │   32675.07 │
│          16 │ Emmitt     │ Sanchez   │   31925.89 │
│          73 │ Melanie    │ Hayes     │   31913.69 │
│           1 │ Debra      │ Burks     │   27888.18 │
│          61 │ Elinore    │ Aguilar   │   25636.45 │
│          93 │ Corrina    │ Sawyer    │    25612.7 │
│         122 │ Shena      │ Carter    │   24890.62 │
├─────────────┴────────────┴───────────┴────────────┤
│ 10 rows                                 4 columns │
└───────────────────────────────────────────────────┘

### What is the average order value (AOV) per customer?

In [8]:
query = '''
WITH get_total_orders AS (
SELECT o.customer_id, 
	first_name,
    last_name,
	COUNT(o.order_id) AS total_order
FROM orders o
JOIN customers c
	ON c.customer_id = o.customer_id
GROUP BY o.customer_id, first_name, last_name
),
get_total_cost AS (
SELECT o.customer_id,
	SUM(quantity * (list_price * (1 - discount))) AS total_cost
FROM order_items oi
JOIN orders o
	ON oi.order_id = o.order_id
JOIN customers c
	ON o.customer_id = c.customer_id
GROUP BY o.customer_id
) 
SELECT gto.customer_id, 
	first_name, 
	last_name, 
	total_order,
    total_cost,
    ROUND(total_cost / total_order, 2) AS average_order_value
FROM get_total_orders gto
JOIN get_total_cost gtc
	ON gto.customer_id = gtc.customer_id
-- WHERE total_order = (SELECT MAX(total_order) FROM get_total_orders) # uncomment to get customers with highest total transactions
ORDER BY (total_cost / total_order) DESC
;
'''

duckdb.sql(query)

┌─────────────┬────────────┬───────────┬─────────────┬────────────────────┬─────────────────────┐
│ customer_id │ first_name │ last_name │ total_order │     total_cost     │ average_order_value │
│    int64    │  varchar   │  varchar  │    int64    │       double       │       double        │
├─────────────┼────────────┼───────────┼─────────────┼────────────────────┼─────────────────────┤
│         122 │ Shena      │ Carter    │           1 │         24890.6244 │            24890.62 │
│        1224 │ Abram      │ Copeland  │           1 │         24607.0261 │            24607.03 │
│        1214 │ Brigid     │ Sharp     │           1 │         20648.9537 │            20648.95 │
│         425 │ Augustina  │ Joyner    │           1 │ 20509.425399999996 │            20509.43 │
│         238 │ Cindi      │ Larson    │           1 │         20177.7457 │            20177.75 │
│        1023 │ Adena      │ Blake     │           1 │         19329.9492 │            19329.95 │
│         464 │ Bess       │ Mcbride   │           1 │ 18853.354399999997 │            18853.35 │
│        1100 │ Penny      │ Acevedo   │           1 │         18670.9288 │            18670.93 │
│         227 │ Danielle   │ Bond      │           1 │ 18553.730000000003 │            18553.73 │
│         108 │ Shae       │ Hickman   │           1 │         18281.4729 │            18281.47 │
│          ·  │  ·         │    ·      │           · │               ·    │                 ·   │
│          ·  │  ·         │    ·      │           · │               ·    │                 ·   │
│          ·  │  ·         │    ·      │           · │               ·    │                 ·   │
│        1142 │ Britteny   │ Schroeder │           1 │           232.4907 │              232.49 │
│         347 │ Kanesha    │ Hudson    │           1 │ 225.89100000000002 │              225.89 │
│         593 │ Antony     │ Atkinson  │           1 │            208.981 │              208.98 │
│         221 │ Clementine │ Mooney    │           1 │ 199.99200000000002 │              199.99 │
│        1414 │ Sonja      │ Walls     │           1 │           176.6907 │              176.69 │
│         177 │ Carissa    │ Foreman   │           1 │            170.991 │              170.99 │
│         752 │ Lloyd      │ Miranda   │           1 │            170.991 │              170.99 │
│        1111 │ Caroline   │ Jenkins   │           1 │            170.991 │              170.99 │
│         718 │ Luciana    │ Mcgee     │           1 │ 167.99200000000002 │              167.99 │
│         850 │ Stephanie  │ Browning  │           1 │           104.4905 │              104.49 │
├─────────────┴────────────┴───────────┴─────────────┴────────────────────┴─────────────────────┤
│ 1445 rows (20 shown)                                                                6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────┘

## Store Analysis

### What is the annual revenue per store?

In [9]:
query6 = '''
WITH get_year_sales AS (
SELECT o.order_id, 
	EXTRACT(YEAR FROM order_date) AS year, 
    quantity, 
    list_price, 
    discount, 
    store_name
FROM orders o
JOIN order_items oi
	ON o.order_id = oi.order_id
JOIN stores s
	ON o.store_id = s.store_id
)
SELECT year, 
	ROUND(SUM(CASE WHEN store_name = 'Baldwin Bikes' THEN quantity * (list_price * (1 - discount)) ELSE 0 END), 2) AS Baldwin_Bikes_revenue,
	ROUND(SUM(CASE WHEN store_name = 'Rowlett Bikes' THEN quantity * (list_price * (1 - discount)) ELSE 0 END), 2) AS Rowlett_Bikes_revenue,
	ROUND(SUM(CASE WHEN store_name = 'Santa Cruz Bikes' THEN quantity * (list_price * (1 - discount)) ELSE 0 END), 2) AS SantaCruz_Bikes_revenue
FROM get_year_sales
GROUP BY year
;
'''

duckdb.sql(query6)

┌───────┬───────────────────────┬───────────────────────┬─────────────────────────┐
│ year  │ Baldwin_Bikes_revenue │ Rowlett_Bikes_revenue │ SantaCruz_Bikes_revenue │
│ int64 │        double         │        double         │         double          │
├───────┼───────────────────────┼───────────────────────┼─────────────────────────┤
│  2016 │            1590598.88 │             271286.14 │               565493.51 │
│  2017 │             2479688.4 │             404611.61 │               562908.24 │
│  2018 │             1145464.0 │              191644.5 │               477421.29 │
└───────┴───────────────────────┴───────────────────────┴─────────────────────────┘

### What are the top 5 categories by revenue in each store?

In [10]:
query7 = '''
WITH get_category_sales AS (
SELECT oi.product_id, 
	oi.quantity, 
    oi.list_price, 
    discount, 
	oi.quantity * (oi.list_price * (1 - discount)) AS revenue,
	category_name, 
    store_name
FROM orders o
JOIN order_items oi 
	ON oi.order_id = o.order_id
JOIN products p 
	ON oi.product_id = p.product_id
JOIN categories cat
	ON p.category_id = cat.category_id
JOIN stores s
	ON o.store_id = s.store_id
),
category_total_revenue AS (
SELECT store_name, 
	category_name, 
	SUM(revenue) AS total_revenue
FROM get_category_sales
GROUP BY store_name, category_name
),
rank_categories AS (
SELECT store_name, 
	ROW_NUMBER() OVER(PARTITION BY store_name ORDER BY total_revenue DESC) AS category_rank,
	category_name, 
    ROUND(total_revenue, 2)
FROM category_total_revenue
)
SELECT *
FROM rank_categories
WHERE category_rank <= 5
ORDER BY store_name
;
'''

duckdb.sql(query7)

┌──────────────────┬───────────────┬─────────────────────┬─────────────────────────┐
│    store_name    │ category_rank │    category_name    │ round(total_revenue, 2) │
│     varchar      │     int64     │       varchar       │         double          │
├──────────────────┼───────────────┼─────────────────────┼─────────────────────────┤
│ Baldwin Bikes    │             1 │ Mountain Bikes      │              1836392.23 │
│ Baldwin Bikes    │             2 │ Road Bikes          │              1140477.21 │
│ Baldwin Bikes    │             3 │ Cruisers Bicycles   │               681795.77 │
│ Baldwin Bikes    │             4 │ Electric Bikes      │               602829.78 │
│ Baldwin Bikes    │             5 │ Cyclocross Bicycles │               487774.56 │
│ Rowlett Bikes    │             1 │ Mountain Bikes      │               316439.67 │
│ Rowlett Bikes    │             2 │ Road Bikes          │               217271.01 │
│ Rowlett Bikes    │             3 │ Cruisers Bicycles   │               106116.99 │
│ Rowlett Bikes    │             4 │ Electric Bikes      │                94844.51 │
│ Rowlett Bikes    │             5 │ Cyclocross Bicycles │                60936.34 │
│ Santa Cruz Bikes │             5 │ Cyclocross Bicycles │               162300.93 │
│ Santa Cruz Bikes │             1 │ Mountain Bikes      │               562247.64 │
│ Santa Cruz Bikes │             2 │ Road Bikes          │               307350.26 │
│ Santa Cruz Bikes │             3 │ Electric Bikes      │               219010.49 │
│ Santa Cruz Bikes │             4 │ Cruisers Bicycles   │               207119.86 │
├──────────────────┴───────────────┴─────────────────────┴─────────────────────────┤
│ 15 rows                                                                4 columns │
└──────────────────────────────────────────────────────────────────────────────────┘

## Products & Categories

### Which brands sold the highest total quantity of products?

In [11]:
query1 = '''
WITH product_quantities AS (
SELECT oi.product_id, 
	quantity, 
    p.brand_id, 
    brand_name
FROM order_items oi
JOIN products p
	ON oi.product_id = p.product_id
JOIN brands b
	ON p.brand_id = b.brand_id
)
SELECT brand_name, 
	SUM(quantity) as total_quantity_sales
FROM product_quantities
GROUP BY brand_name
ORDER BY SUM(quantity) DESC
;
'''

duckdb.sql(query1)

┌──────────────┬──────────────────────┐
│  brand_name  │ total_quantity_sales │
│   varchar    │        int128        │
├──────────────┼──────────────────────┤
│ Electra      │                 2612 │
│ Trek         │                 1839 │
│ Surly        │                  908 │
│ Sun Bicycles │                  731 │
│ Pure Cycles  │                  376 │
│ Haro         │                  331 │
│ Heller       │                  138 │
│ Ritchey      │                  118 │
│ Strider      │                   25 │
└──────────────┴──────────────────────┘

### Which brands generated the highest total revenue?

In [12]:
query2 = '''
WITH order_products_id AS (
SELECT oi.product_id, 
	quantity, 
    oi.list_price, 
    discount, 
    p.brand_id, 
    brand_name
FROM order_items oi
JOIN products p
	ON oi.product_id = p.product_id
JOIN brands b
	ON p.brand_id = b.brand_id
),
compute_revenue AS (
SELECT *,
	quantity * (list_price * (1 - discount)) AS revenue
FROM order_products_id
)
SELECT brand_name, 
	ROUND(SUM(revenue), 2) as total_revenue
FROM compute_revenue
GROUP BY brand_name
ORDER BY SUM(revenue) DESC
;
'''

duckdb.sql(query2)

┌──────────────┬───────────────┐
│  brand_name  │ total_revenue │
│   varchar    │    double     │
├──────────────┼───────────────┤
│ Trek         │    4602754.35 │
│ Electra      │    1205320.82 │
│ Surly        │     949507.06 │
│ Sun Bicycles │     341994.93 │
│ Haro         │     185384.55 │
│ Heller       │     171459.08 │
│ Pure Cycles  │     149476.34 │
│ Ritchey      │      78898.95 │
│ Strider      │       4320.48 │
└──────────────┴───────────────┘

### Which products have the highest revenue per unit sold (premium items)?

In [13]:
query = '''
WITH get_product_revenue AS (
SELECT quantity, 
	oi.list_price, 
    discount, 
    oi.product_id, 
    product_name,
    quantity * (oi.list_price * (1 - discount)) AS revenue
FROM order_items oi
JOIN products p
	ON oi.product_id = p.product_id
),
get_revenue_per_unit AS (
SELECT product_id, 
	product_name,
	SUM(quantity) AS total_quantity,
    SUM(revenue) AS total_revenue
FROM get_product_revenue
GROUP BY product_id, product_name
)
SELECT product_name,
	ROUND((total_revenue / total_quantity), 2) AS revenue_per_unit
FROM get_revenue_per_unit 
ORDER BY (total_revenue / total_quantity) DESC LIMIT 20
;
'''

duckdb.sql(query)

┌────────────────────────────────────────┬──────────────────┐
│              product_name              │ revenue_per_unit │
│                varchar                 │      double      │
├────────────────────────────────────────┼──────────────────┤
│ Trek Domane SLR 9 Disc - 2018          │         10871.99 │
│ Trek Domane SLR 8 Disc - 2018          │          6843.74 │
│ Trek Domane SL Frameset Women's - 2018 │          6174.99 │
│ Trek Emonda SLR 8 - 2018               │          6044.99 │
│ Trek Silque SLR 8 Women's - 2017       │          6018.09 │
│ Trek Domane SL Frameset - 2018         │          5849.99 │
│ Trek Silque SLR 7 Women's - 2017       │          5435.99 │
│ Trek Domane SLR 6 Disc - 2018          │          5224.99 │
│ Trek Domane SLR 6 Disc - 2017          │          4920.57 │
│ Trek Domane SL 8 Disc - 2018           │          4913.32 │
│ Trek Fuel EX 9.8 27.5 Plus - 2017      │          4819.78 │
│ Trek Remedy 9.8 - 2017                 │          4794.08 │
│ Trek Super Commuter+ 8S - 2018         │          4662.49 │
│ Trek Powerfly 8 FS Plus - 2017         │          4591.45 │
│ Trek Powerfly 7 FS - 2018              │          4562.49 │
│ Trek Madone 9.2 - 2017                 │          4510.25 │
│ Trek Domane SL 7 Women's - 2018        │          4485.71 │
│ Trek Fuel EX 9.8 29 - 2017             │          4468.17 │
│ Trek Powerfly 5 FS - 2018              │          4274.99 │
│ Trek Domane SLR 6 - 2018               │          4249.99 │
├────────────────────────────────────────┴──────────────────┤
│ 20 rows                                         2 columns │
└───────────────────────────────────────────────────────────┘

### Which products were not sold?

In [14]:
query = '''
SELECT p.product_id,
	p.product_name,
	p.list_price
FROM products p 
LEFT JOIN order_items oi
	ON p.product_id = oi.product_id
WHERE order_id IS NULL
ORDER BY p.product_name
;
'''

duckdb.sql(query)

┌────────────┬────────────────────────────────────────────────┬────────────┐
│ product_id │                  product_name                  │ list_price │
│   int64    │                    varchar                     │   double   │
├────────────┼────────────────────────────────────────────────┼────────────┤
│        284 │ Electra Savannah 1 (20-inch) - Girl's - 2018   │     319.99 │
│        291 │ Electra Sweet Ride 1 (20-inch) - Girl's - 2018 │     319.99 │
│        195 │ Electra Townie Go! 8i Ladies' - 2018           │    2599.99 │
│        121 │ Surly Krampus Frameset - 2018                  │    2499.99 │
│          1 │ Trek 820 - 2016                                │     379.99 │
│        316 │ Trek Checkpoint ALR 4 Women's - 2019           │    1699.99 │
│        317 │ Trek Checkpoint ALR 5 - 2019                   │    1999.99 │
│        318 │ Trek Checkpoint ALR 5 Women's - 2019           │    1999.99 │
│        321 │ Trek Checkpoint ALR Frameset - 2019            │    3199.99 │
│        319 │ Trek Checkpoint SL 5 Women's - 2019            │    2799.99 │
│        320 │ Trek Checkpoint SL 6 - 2019                    │    3799.99 │
│        154 │ Trek Domane SLR 6 Disc Women's - 2018          │    5499.99 │
│        125 │ Trek Kids' Dual Sport - 2018                   │     469.99 │
│        267 │ Trek Precaliber 12 Girl's - 2018               │     199.99 │
├────────────┴────────────────────────────────────────────────┴────────────┤
│ 14 rows                                                        3 columns │
└──────────────────────────────────────────────────────────────────────────┘

## Discounts & Promotions

### Which brands gave the highest total discounts, and how many units did they sell?

In [15]:
query5 = '''
WITH get_discount AS (
SELECT oi.product_id, 
	quantity, 
    oi.list_price, 
    discount, 
    p.brand_id, 
    brand_name,
	quantity * (oi.list_price * oi.discount) AS discount_in_usd
FROM order_items oi
JOIN products p
	ON oi.product_id = p.product_id
JOIN brands b
	ON p.brand_id = b.brand_id
)
SELECT brand_name, 
	SUM(quantity) AS total_quantity_sales, 
	ROUND(SUM(discount_in_usd), 2) AS total_discount
FROM get_discount
GROUP BY brand_name
ORDER BY SUM(discount_in_usd) DESC
;
'''

duckdb.sql(query5)

┌──────────────┬──────────────────────┬────────────────┐
│  brand_name  │ total_quantity_sales │ total_discount │
│   varchar    │        int128        │     double     │
├──────────────┼──────────────────────┼────────────────┤
│ Trek         │                 1839 │      526627.26 │
│ Electra      │                 2612 │      138822.97 │
│ Surly        │                  908 │      113628.76 │
│ Sun Bicycles │                  731 │       39924.76 │
│ Heller       │                  138 │       22339.63 │
│ Haro         │                  331 │       21712.14 │
│ Pure Cycles  │                  376 │       16687.66 │
│ Ritchey      │                  118 │        9599.87 │
│ Strider      │                   25 │         529.27 │
└──────────────┴──────────────────────┴────────────────┘

### What is the average discount per category?

In [16]:
query = '''
WITH get_category_discount AS (
SELECT 
	(quantity * oi.list_price * discount) AS discount_usd,
    category_name
FROM order_items oi
JOIN products p 
	ON oi.product_id = p.product_id
JOIN categories cat
	ON p.category_id = cat.category_id
)
SELECT category_name, 
    COUNT(*) AS total_sales,
	ROUND(MIN(discount_usd), 2) AS min_discount,
	ROUND(MAX(discount_usd), 2) AS max_discount,
	ROUND(AVG(discount_usd), 2) AS average_discount
FROM get_category_discount
GROUP BY category_name
ORDER BY average_discount DESC
;

'''

duckdb.sql(query)

┌─────────────────────┬─────────────┬──────────────┬──────────────┬──────────────────┐
│    category_name    │ total_sales │ min_discount │ max_discount │ average_discount │
│       varchar       │    int64    │    double    │    double    │      double      │
├─────────────────────┼─────────────┼──────────────┼──────────────┼──────────────────┤
│ Road Bikes          │         374 │         37.5 │       2400.0 │           501.22 │
│ Electric Bikes      │         212 │         78.0 │       2000.0 │           488.45 │
│ Cyclocross Bicycles │         256 │        77.45 │       1600.0 │           347.12 │
│ Mountain Bikes      │        1183 │         19.0 │       2120.0 │           266.86 │
│ Comfort Bicycles    │         537 │        20.85 │        364.0 │            82.84 │
│ Cruisers Bicycles   │        1378 │         13.5 │       1200.0 │            82.81 │
│ Children Bicycles   │         782 │          5.5 │        196.0 │            45.65 │
└─────────────────────┴─────────────┴──────────────┴──────────────┴──────────────────┘

## Advanced

### Which product categories are most common in repeat orders?

In [17]:
query = '''
WITH get_row_num_order AS (
SELECT 
	customer_id, 
	order_id,
	order_date,
	ROW_NUMBER() OVER(PARTITION BY customer_id ORDER BY order_date) AS row_num_order
FROM orders
),
get_repeat_categories AS (
SELECT 
	grno.customer_id, 
	grno.order_id,
    order_date,
    category_name
FROM get_row_num_order grno
JOIN order_items oi
	ON grno.order_id = oi.order_id
JOIN products p
	ON oi.product_id = p.product_id
JOIN categories cat 
	ON p.category_id = cat.category_id
WHERE row_num_order > 1
)
SELECT 
	category_name,
	COUNT(*) AS total_repeat_sales
FROM get_repeat_categories
GROUP BY category_name
ORDER BY total_repeat_sales DESC
;

'''

duckdb.sql(query)

┌─────────────────────┬────────────────────┐
│    category_name    │ total_repeat_sales │
│       varchar       │       int64        │
├─────────────────────┼────────────────────┤
│ Cruisers Bicycles   │                131 │
│ Mountain Bikes      │                106 │
│ Children Bicycles   │                 88 │
│ Road Bikes          │                 73 │
│ Comfort Bicycles    │                 50 │
│ Electric Bikes      │                 45 │
│ Cyclocross Bicycles │                 16 │
└─────────────────────┴────────────────────┘

### Which products are frequently bought together?

In [18]:
query = '''
SELECT 
    p1.product_name AS product1,
    p2.product_name AS product2,
    COUNT(*) AS purchase_frequency
FROM order_items oi1
JOIN order_items oi2
	ON oi1.order_id = oi2.order_id
    AND oi1.product_id < oi2.product_id
JOIN products p1
	ON oi1.product_id = p1.product_id
JOIN products p2
	ON oi2.product_id = p2.product_id
GROUP BY p1.product_name, p2.product_name
ORDER BY purchase_frequency DESC LIMIT 20
;
'''

duckdb.sql(query)

┌───────────────────────────────────────────────┬───────────────────────────────────────────────┬────────────────────┐
│                   product1                    │                   product2                    │ purchase_frequency │
│                    varchar                    │                    varchar                    │       int64        │
├───────────────────────────────────────────────┼───────────────────────────────────────────────┼────────────────────┤
│ Electra Cruiser 1 (24-Inch) - 2016            │ Electra Girl's Hawaii 1 (16-inch) - 2015/2016 │                 27 │
│ Electra Townie Original 21D - 2016            │ Electra Cruiser 1 (24-Inch) - 2016            │                 22 │
│ Electra Girl's Hawaii 1 (16-inch) - 2015/2016 │ Electra Girl's Hawaii 1 (20-inch) - 2015/2016 │                 22 │
│ Trek Slash 8 27.5 - 2016                      │ Electra Townie Original 21D - 2016            │                 22 │
│ Electra Cruiser 1 (24-Inch) - 2016            │ Electra Girl's Hawaii 1 (20-inch) - 2015/2016 │                 21 │
│ Electra Cruiser 1 (24-Inch) - 2016            │ Electra Townie Original 7D EQ - 2016          │                 19 │
│ Heller Shagamaw Frame - 2016                  │ Electra Girl's Hawaii 1 (16-inch) - 2015/2016 │                 19 │
│ Surly Straggler 650b - 2016                   │ Electra Townie Original 7D EQ - 2016          │                 19 │
│ Ritchey Timberwolf Frameset - 2016            │ Electra Townie Original 21D - 2016            │                 18 │
│ Electra Townie Original 21D - 2016            │ Electra Townie Original 7D EQ - 2016          │                 18 │
│ Trek Slash 8 27.5 - 2016                      │ Electra Townie Original 7D EQ - 2016          │                 18 │
│ Trek Fuel EX 8 29 - 2016                      │ Electra Townie Original 21D - 2016            │                 18 │
│ Surly Straggler - 2016                        │ Electra Townie Original 21D - 2016            │                 18 │
│ Surly Wednesday Frameset - 2016               │ Electra Townie Original 7D EQ - 2016          │                 18 │
│ Trek Slash 8 27.5 - 2016                      │ Electra Cruiser 1 (24-Inch) - 2016            │                 18 │
│ Surly Ice Cream Truck Frameset - 2016         │ Electra Cruiser 1 (24-Inch) - 2016            │                 18 │
│ Trek Fuel EX 8 29 - 2016                      │ Electra Girl's Hawaii 1 (16-inch) - 2015/2016 │                 18 │
│ Electra Townie Original 21D - 2016            │ Electra Townie Original 7D - 2015/2016        │                 18 │
│ Surly Straggler 650b - 2016                   │ Electra Townie Original 21D - 2016            │                 18 │
│ Surly Straggler 650b - 2016                   │ Electra Cruiser 1 (24-Inch) - 2016            │                 17 │
├───────────────────────────────────────────────┴───────────────────────────────────────────────┴────────────────────┤
│ 20 rows                                                                                                  3 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘